p {
	position:absolute;
	text-align:center;
	top: 10%;
	bottom: 0;
	right: 0;
	left: 0;
	color:#484848;
	font: 14px;
	font-family: Circular,"Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
	margin:0;
	padding:0;
}